/target

target/generated-sources/
target/
/target/*
target/classes/org/acme/travels/DomainClassesMetadata2E460E98FBDF296CF50748F35F942A65.class
target/classes/org/acme/travels/DomainClassesMetadata2E460E98FBDF296CF50748F35F942A65$org_acme_travels_IntrareCLE_Metadata.class
target/classes/org/acme/travels/DomainClassesMetadata2E460E98FBDF296CF50748F35F942A65$org_acme_travels_Person_Metadata.class
target/classes/org/acme/travels/Intrare_auto_cleProcess.class

.idea
.vscode
/.idea
/.vscode
/docker-compose/postgresql
/docker-compose/grafana/provisioning/dashboards/*.json



